<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>android</key>
		<string></string>
		<key>icon</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1574227614129&amp;di=c8420f439152ec69178fb6ec9e424cbc&amp;imgtype=0&amp;src=http%3A%2F%2Fhbimg.b0.upaiyun.com%2F33e495488228dc62a6f48dbaee92984b4a5b0f8d10791-AFsSqU_fw658</string>
		<key>id</key>
		<string>28</string>
		<key>ipad</key>
		<string></string>
		<key>iphone</key>
		<string></string>
		<key>market</key>
		<string></string>
		<key>name</key>
		<string>谷歌</string>
		<key>url</key>
		<string>https://www.google.com/</string>
	</dict>
	<dict>
		<key>android</key>
		<string></string>
		<key>icon</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1574227701965&amp;di=1e8dc3723deee2068d312bee2d365e96&amp;imgtype=0&amp;src=http%3A%2F%2Fimg.mp.itc.cn%2Fupload%2F20170626%2F7ae8dfe8d65046b081d003dc91a25173_th.jpg</string>
		<key>id</key>
		<string>28</string>
		<key>ipad</key>
		<string></string>
		<key>iphone</key>
		<string></string>
		<key>market</key>
		<string></string>
		<key>name</key>
		<string>YoyTube</string>
		<key>url</key>
		<string>https://www.youtube.com/</string>
	</dict>
	<dict>
		<key>android</key>
		<string></string>
		<key>icon</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1574228380207&amp;di=90b7bb0652986a179aad5964870f54e8&amp;imgtype=0&amp;src=http%3A%2F%2Fnwzimg.wezhan.cn%2Fcontents%2Fsitefiles2019%2F10099490%2Fimages%2F5438696.jpg</string>
		<key>id</key>
		<string>28</string>
		<key>ipad</key>
		<string></string>
		<key>iphone</key>
		<string></string>
		<key>market</key>
		<string></string>
		<key>name</key>
		<string>意见反馈</string>
		<key>url</key>
		<string>https://www.facebook.com/</string>
	</dict>
	<dict>
		<key>android</key>
		<string></string>
		<key>icon</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1574228452191&amp;di=61c2cc98720677e1b3ab5fa78b670355&amp;imgtype=0&amp;src=http%3A%2F%2Fhbimg.b0.upaiyun.com%2F3e0c72b49cc2b26337505c61080b386e60279b0623e88-1FiaM8_fw658</string>
		<key>id</key>
		<string>28</string>
		<key>ipad</key>
		<string></string>
		<key>iphone</key>
		<string></string>
		<key>market</key>
		<string></string>
		<key>name</key>
		<string>Instagram</string>
		<key>url</key>
		<string>https://www.instagram.com/</string>
	</dict>
	<dict>
		<key>android</key>
		<string></string>
		<key>icon</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1574228452191&amp;di=61c2cc98720677e1b3ab5fa78b670355&amp;imgtype=0&amp;src=http%3A%2F%2Fhbimg.b0.upaiyun.com%2F3e0c72b49cc2b26337505c61080b386e60279b0623e88-1FiaM8_fw658</string>
		<key>id</key>
		<string>28</string>
		<key>ipad</key>
		<string></string>
		<key>iphone</key>
		<string></string>
		<key>market</key>
		<string></string>
		<key>name</key>
		<string>游戏大厅</string>
		<key>url</key>
		<string>https://www.instagram.com/</string>
	</dict>
	<dict>
		<key>android</key>
		<string></string>
		<key>icon</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1574228584144&amp;di=f9cd9cee554fe06ec1af3a340c25a363&amp;imgtype=0&amp;src=http%3A%2F%2Fpic.51yuansu.com%2Fpic2%2Fcover%2F00%2F33%2F37%2F58111fee9764a_610.jpg</string>
		<key>id</key>
		<string>28</string>
		<key>ipad</key>
		<string></string>
		<key>iphone</key>
		<string></string>
		<key>market</key>
		<string></string>
		<key>name</key>
		<string>WIKI百科</string>
		<key>url</key>
		<string>https://www.wikipedia.org/</string>
	</dict>
	<dict>
		<key>android</key>
		<string></string>
		<key>icon</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1568989358207&amp;di=646b334d5902bfb12b418267f2eb867d&amp;imgtype=0&amp;src=http%3A%2F%2Fphotocdn.sohu.com%2F20130128%2FImg364810672.jpg</string>
		<key>id</key>
		<string>28</string>
		<key>ipad</key>
		<string></string>
		<key>iphone</key>
		<string></string>
		<key>market</key>
		<string></string>
		<key>name</key>
		<string>美女写真</string>
		<key>url</key>
		<string>https://www.jianshu.com/</string>
	</dict>
	<dict>
		<key>android</key>
		<string></string>
		<key>icon</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1568989423410&amp;di=46cf1ab867f3874e2f3cb69bfe4dad01&amp;imgtype=0&amp;src=http%3A%2F%2Fimg.25pp.com%2Fuploadfile%2Fsoft%2Fimages%2F2014%2F0726%2F20140726010205314.jpg</string>
		<key>id</key>
		<string>28</string>
		<key>ipad</key>
		<string></string>
		<key>iphone</key>
		<string></string>
		<key>market</key>
		<string></string>
		<key>name</key>
		<string>直播</string>
		<key>url</key>
		<string>https://www.jianshu.com/</string>
	</dict>
	<dict>
		<key>android</key>
		<string></string>
		<key>icon</key>
		<string>https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2162398746,2336026894&amp;fm=26&amp;gp=0.jpg</string>
		<key>id</key>
		<string>28</string>
		<key>ipad</key>
		<string></string>
		<key>iphone</key>
		<string></string>
		<key>market</key>
		<string></string>
		<key>name</key>
		<string>亚马逊</string>
		<key>url</key>
		<string>https://www.jianshu.com/</string>
	</dict>
	<dict>
		<key>android</key>
		<string></string>
		<key>icon</key>
		<string>https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=1428009401,595480324&amp;fm=26&amp;gp=0.jpg</string>
		<key>id</key>
		<string>28</string>
		<key>ipad</key>
		<string></string>
		<key>iphone</key>
		<string></string>
		<key>market</key>
		<string></string>
		<key>name</key>
		<string>我的帖子</string>
		<key>url</key>
		<string>https://www.jianshu.com/</string>
	</dict>
	<dict>
		<key>android</key>
		<string></string>
		<key>icon</key>
		<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3135823969,1427148220&amp;fm=26&amp;gp=0.jpg</string>
		<key>id</key>
		<string>28</string>
		<key>ipad</key>
		<string></string>
		<key>iphone</key>
		<string></string>
		<key>market</key>
		<string></string>
		<key>name</key>
		<string>我的关注</string>
		<key>url</key>
		<string>https://www.jianshu.com/</string>
	</dict>
	<dict>
		<key>android</key>
		<string></string>
		<key>icon</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1568989394133&amp;di=97dc4eb620b5f5bb447e016573fd1bbf&amp;imgtype=0&amp;src=http%3A%2F%2Fku.90sjimg.com%2Felement_origin_min_pic%2F02%2F18%2F52%2F39576e4f7e00c9b.jpg</string>
		<key>id</key>
		<string>28</string>
		<key>ipad</key>
		<string></string>
		<key>iphone</key>
		<string></string>
		<key>market</key>
		<string></string>
		<key>name</key>
		<string>二手交易</string>
		<key>url</key>
		<string>https://www.jianshu.com/</string>
	</dict>
</array>
</plist>
