<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<integer>200</integer>
	<key>data</key>
	<dict>
		<key>data</key>
		<array>
			<dict>
				<key>a_number</key>
				<integer>0</integer>
				<key>android</key>
				<string>??</string>
				<key>android_link</key>
				<string>http://localhost:8080/</string>
				<key>i_number</key>
				<integer>0</integer>
				<key>icon</key>
				<string>http://go.jummy.top/images/blue.png</string>
				<key>id</key>
				<integer>59</integer>
				<key>ios</key>
				<string>??</string>
				<key>ios_link</key>
				<string>http://localhost:8080/</string>
				<key>is_show</key>
				<true/>
				<key>name</key>
				<string>test</string>
				<key>time</key>
				<string>2019-11-20T17:50:33+08:00</string>
			</dict>
			<dict>
				<key>a_number</key>
				<integer>0</integer>
				<key>android</key>
				<string>test</string>
				<key>android_link</key>
				<string>http://localhost:8080/</string>
				<key>i_number</key>
				<integer>0</integer>
				<key>icon</key>
				<string>http://go.jummy.top/images/pink.png</string>
				<key>id</key>
				<integer>58</integer>
				<key>ios</key>
				<string>tes212</string>
				<key>ios_link</key>
				<string>http://localhost:8080/</string>
				<key>is_show</key>
				<true/>
				<key>name</key>
				<string>影梭</string>
				<key>time</key>
				<string>2019-11-20T17:35:25+08:00</string>
			</dict>
			<dict>
				<key>a_number</key>
				<integer>0</integer>
				<key>android</key>
				<string>test</string>
				<key>android_link</key>
				<string>http://localhost:8080/</string>
				<key>i_number</key>
				<integer>0</integer>
				<key>icon</key>
				<string>http://go.jummy.top/images/black.png</string>
				<key>id</key>
				<integer>57</integer>
				<key>ios</key>
				<string>t212</string>
				<key>ios_link</key>
				<string>http://localhost:8080/</string>
				<key>is_show</key>
				<true/>
				<key>name</key>
				<string>云梯</string>
				<key>time</key>
				<string>2019-11-20T17:35:05+08:00</string>
			</dict>
			<dict>
				<key>a_number</key>
				<integer>0</integer>
				<key>android</key>
				<string>test</string>
				<key>android_link</key>
				<string>http://localhost:8080/</string>
				<key>i_number</key>
				<integer>0</integer>
				<key>icon</key>
				<string>http://go.jummy.top/images/yellow.png</string>
				<key>id</key>
				<integer>56</integer>
				<key>ios</key>
				<string>123</string>
				<key>ios_link</key>
				<string>http://localhost:8080/</string>
				<key>is_show</key>
				<true/>
				<key>name</key>
				<string>opera</string>
				<key>time</key>
				<string>2019-11-20T17:34:42+08:00</string>
			</dict>
			<dict>
				<key>a_number</key>
				<integer>0</integer>
				<key>android</key>
				<string>test</string>
				<key>android_link</key>
				<string>http://localhost:8080/</string>
				<key>i_number</key>
				<integer>0</integer>
				<key>icon</key>
				<string>http://go.jummy.top/images/red.png</string>
				<key>id</key>
				<integer>55</integer>
				<key>ios</key>
				<string>12312</string>
				<key>ios_link</key>
				<string>http://localhost:8080/</string>
				<key>is_show</key>
				<true/>
				<key>name</key>
				<string>Firefox</string>
				<key>time</key>
				<string>2019-11-20T17:32:17+08:00</string>
			</dict>
		</array>
		<key>next</key>
		<integer>2</integer>
		<key>num</key>
		<integer>56</integer>
		<key>previous</key>
		<integer>0</integer>
	</dict>
	<key>result</key>
	<string>成功</string>
</dict>
</plist>
