<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<integer>200</integer>
	<key>data</key>
	<array>
		<dict>
			<key>a_number</key>
			<integer>0</integer>
			<key>android</key>
			<string>Google</string>
			<key>android_link</key>
			<string>www.google.com</string>
			<key>i_number</key>
			<integer>0</integer>
			<key>icon</key>
			<string>http://go.jummy.top/images/Google.png</string>
			<key>id</key>
			<integer>78</integer>
			<key>ios</key>
			<string>231</string>
			<key>ios_link</key>
			<string>www.google.com</string>
			<key>is_show</key>
			<true/>
			<key>name</key>
			<string>Google</string>
			<key>time</key>
			<string>2019-11-21T16:23:15+08:00</string>
		</dict>
		<dict>
			<key>a_number</key>
			<integer>0</integer>
			<key>android</key>
			<string>facebook</string>
			<key>android_link</key>
			<string>www.facebook.com</string>
			<key>i_number</key>
			<integer>0</integer>
			<key>icon</key>
			<string>http://go.jummy.top/images/facebook.png</string>
			<key>id</key>
			<integer>79</integer>
			<key>ios</key>
			<string>2121</string>
			<key>ios_link</key>
			<string>www.facebook.com</string>
			<key>is_show</key>
			<true/>
			<key>name</key>
			<string>facebook</string>
			<key>time</key>
			<string>2019-11-21T16:24:09+08:00</string>
		</dict>
		<dict>
			<key>a_number</key>
			<integer>0</integer>
			<key>android</key>
			<string>Youtube</string>
			<key>android_link</key>
			<string>www.youtube.com</string>
			<key>i_number</key>
			<integer>0</integer>
			<key>icon</key>
			<string>http://go.jummy.top/images/Youtube.png</string>
			<key>id</key>
			<integer>80</integer>
			<key>ios</key>
			<string>2111</string>
			<key>ios_link</key>
			<string>www.youtube.com</string>
			<key>is_show</key>
			<true/>
			<key>name</key>
			<string>Youtube</string>
			<key>time</key>
			<string>2019-11-21T16:24:52+08:00</string>
		</dict>
	</array>
	<key>result</key>
	<string>成功</string>
</dict>
</plist>
